body{
    background-color: #ecc8a4;
    background-image: url('../../images/wood.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: 2000px;
}
h1{
    color: #946931;
}
ul.ulnav{
    border-radius: 5px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #946931 ;
}
li.linav{
    float: left;
    
}
li.linav a{
    display: block;
    color:#ecc8a4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a.active{
    display: block;
    color:#f5eeda;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a:hover{
    background-color:#ecc8a4;
    color:#946931;
}

#background { 
    width: 80%; 
    height: 70%; 
    background-color: rgba(255, 255, 255, 0.486);
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
}
#para{
    text-align: center;
    font-size: 25px;

