body{
    background-color: #ecc8a4;
    background-image: url('../../images/wood.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: 2000px;
}
h1{
    color: #946931;
}
.topnav {
    overflow: hidden;
    background-color: 
    #946931;
}
.topnav a {
    float: left;
    display: block;
    color: #ecc8a4;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ecc8a4;
    color: #946931;
}
