body{
    background-color: #ecc8a4;
    background-image: url('../../images/wood.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: 2000px;
}
h1{
    color: #946931;
}
ul.ulnav{
    border-radius: 5px;
    border: 2px solid black;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #65625d ;
}
/*for project nav bar*/
ul.side{
    list-style-type: none;
    
}
li.center{
    padding-right: 20%;
}
li.center a{
    display: block;
    color:#ecc8a4;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}
li.center a:hover{
    background-color:#ecc8a4;
    color:#946931;
}
/*for nav bar on top*/
li.linav{
    float: left;
    
}
li.linav a{
    display: block;
    color:#ecc8a4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a.active{
    display: block;
    color:#f5eeda;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a:hover{
    background-color:#ecc8a4;
    color:#946931;
}
/*Small box leftside*/
#background { 
    border-radius: 10px;
    border: 2px solid black;
    width: 12%; 
    height: 80%; 
    background-color:#65625db9;
    word-wrap: break-word;
    
    position: absolute; 
    left: 10%; 
    top: 50%; 
    transform: translate(-50%, -50%);
}
/*big box*/
#background1{
    border-radius: 10px;
    border: 2px solid black;
    width: 65%;
    height: 80%;
    background-color: #65625db9;
    word-wrap: break-word;

    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}
/*Small box Rightside*/ 
#background2 { 
    border-radius: 10px;
    border: 2px solid black;
    width: 12%; 
    height: 80%; 
    background-color:#65625db9;
    word-wrap: break-word;
    
    position: absolute; 
    left: 90%; 
    top: 50%; 
    transform: translate(-50%, -50%);
}
span.maintitle{
    text-align: center;
    font-size: 30pt;
}
span.subtitle{
    font-size: 25pt;
    color:#f5eeda ;
    font-family: Verdana;
}

img.cuh{
    width: 120px;
    border-radius: 10px;

}
img.cuh1{
    width: 120px;
    border-radius: 10px;

}
img.cuh:hover{
width: 130px;
}
#career{
    width: 300px;
    height: 180px;
    padding-left: 8pt;
}
p.main_text{
    padding-left: 10px;
    color: #f5eeda;
    font-family:monospace;
    font-size: 20px;
}
span.main_text1{
    padding-left: 10px;
    color: #f5eeda;
    font-family:monospace;
    font-size: 20px;
}
#title{
    padding-left: 10px;
    color: #f5eeda;
    font-family:monospace;
    font-size: 30px;
}
img.cuh1{
    width: 120px;
    border-radius: 10px;
}
div.spam{
    text-align: center;
    min-width: 500px;
    font-size: 20pt;
    color: white;
}
p.para{
    text-align: center;
    margin: 8px;
    font-size: 20pt;
    font-family: monospace;
}
li.contact{
    text-align: left;
    font-family: monospace;
    font-size: 18px;
}
p.contact1{
    text-align: left;
    font-family: monospace;
    font-size: 30px;
}
#page_wrapper{
    border-radius: 10px;
    border: 2px solid #333333;
    padding: 10px;
    height: 800px;
    width: 700px;
    background: rgb(102,102,102,0.85);
}
img.scroll{
    width: 185px;
    height: auto;
    margin-left: 23px;
    
}
iframe.game{
    margin-top: 100px;
    margin-left: 180px;
    border-radius: 10px;
    border: 3px solid black;
}
#dub{
    width: 200px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid black;
}
#dub2{
    width: 140px;
    height: 270px;
    border-radius: 10px;
    border: 2px solid black;
}
#dub3{
    width: 200px;
    height: 130;
    border-radius: 10px;
    border: 2px solid black;
}
#test{
    width: 200px;
    height: 400;
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    left: 80%;
    top: 60%;

    transform: translate(-50%, -50%);
}
#lobby{
    width: 500px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    left: 78%;
    top: 60%;

    transform: translate(-50%, -50%);
}
#lists{
    width: 500px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    left: 22%;
    top: 60%;

    transform: translate(-50%, -50%);
}
